PORT=3000

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

META_API_SIMULATION_URL=https://jsonplaceholder.typicode.com/posts/1
META_API_TIMEOUT_MS=3000

TAKEDOWN_JOB_ATTEMPTS=3
TAKEDOWN_JOB_BACKOFF_MS=1000
